.App {
min-height: 100%;
}

/* CSS grids works for its direct children */

html {
  background: rgb(91,247,255);
  background: linear-gradient(0deg, rgba(91,247,255,1) 0%, rgba(0,111,195,1) 82%); 
  background-repeat: no-repeat;
  min-height: 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.home {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;

  font-family: 'Roboto', sans-serif;
}


@media(max-width: 490px){

.home {
  display: grid;
  grid-template-rows: 1fr 2fr;
}  

}