.title {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    height: 220px;
    grid-column: 1 / span 2;
}

.title-main {
    font-size: 80px;
    font-family: 'Fjalla One', sans-serif;

}

.title:hover {
    cursor: default;
}

.subtitle {
    font-family: 'Lobster', cursive;

    font-size: 20px;
}